@import url("./cabecalho.css");
@import url("./rodape.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.7%; /*62.7% de 16px  = 10px*/
} 

/* body{
    font-size: 10px;
} */

.tit-sec{
   text-align: center;
   font-size: 4rem; /*EM =  olha para sua tag a cima e multiplica por 4x o tamanho da referencia da classe pai*/
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.conteudo{
    display: flex;
    flex-wrap: wrap;
    max-width: 60vw;
    margin: 0 auto;
    font-size: 2rem;
}

.conteudo img{
    display: block;
    max-width: 100%; /*trabalha em ponta e ponta da imagem de maneira proporcional */
    flex-basis: 300px;
}

 .conteudo > div{
    flex-grow: 1; /*age no tamanho do crescimento*/
    flex-shrink: 1; /*age no tamanho de encolhimento*/
    flex-basis: 300px; /*base para manter esse tamanho pré definido, caso não consiga manter ele ira agir no crescimento e encolhimento*/
 }
 

 /*BREAKPOINT DO CABEÇALHO*/
 @media(max-width: 629px)
 {
    .cabecalho{
      flex-direction: column;
    }

    .cabecalho nav{
      flex-wrap: nowrap;
    }
    
    .cabecalho a{
        font-size: 2rem;
        padding: 10% 0;    
    }

 }
 